{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<style>
    h4 {

    margin-right: 200px;
    margin-left: 200px; 

  }
  h1 {
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
  }

  h5 {
      margin-left: 200px;
      margin-right: 200px;
      margin-bottom:20px;
  }
  p{
      margin-left:200px;
      margin-right: 200px;

  }

</style>
<head>
  <title>About</title>
</head>
<h1>About us!</h1>
<h5>Hey everyone! Welcome to our website, made by Nicholas Zhang and Waylon Li, two aspiring freshmen at Mission San Jose High School in the Bay Area, California.</h5>

    <h5>With the ongoing pandemic in our lives, this website was created to server as a virtual assisstant to help identify the symptoms
    you have and whether or not you have COVID. Health care in the United States can often be expensive, and if you are not sure about 
    your symptoms and don't want to pay the tedious amount, get them checked out at our free and accurate website!</h5>

    <h5>Furthermore, we also have a cardiovascular disease virtual assisstant built in our website. As the number 1 cause of deaths in the 
    United States, it is better to get them check out here rather than spend millions on healthcare for a doctor consult.</h5> 

    <h5>Our website can also give feedback personally based on your symptoms, so you can decide the next step of getting treated. 
    Again, our website was built to to help the community around us stay safe and healthy in this ongoing crisis. Our website is 
    completely free and accessible to all! Enjoy!</h5>

    <h5>Sincerely,</h5>
    <h5>Nicholas and Waylon </h5>

    <h5>
    <img class='logo' src='https://images.cooltext.com/5518550.png' width=173 height=43> 



{% endblock %}