{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<style>
    h4 {

    margin-right: 150px;
    margin-left: 80px;
  }
  h1 {
    margin-top:50px;
    margin-right: 150px;
    margin-left: 80px;
  }

  h5 {
      margin-left: 80px;
      margin-right: 150px;
      margin-bottom:20px;
  }


</style>
<br>
<br>
<h1>Covid-19 Symptom/ Cardiovascular Disease Virtual Assistant</h1>
<h4>Welcome! This website is designed to help determine whether or not you have Covid-19 or cardiovascular disease based on symptoms and phsyical details.</h4>
<h4>Disclaimer: This website in no way replaces a medical professional and is just a virtual assistant for evaluating symptoms.</h4>
<h4>
<img src='https://www.assessmed.com/assessmed-content/uploads/2016/03/doctor.jpg' width=742 height=494 alt='doctor_eval'>
</h4>
<h4>
<a style='text-align: right;' href="/cardio">Click here for the Cardiovascular Disease Virtual Assistant</a>
<br>
<br>
<a style='text-align: right;' href="/covid19">Click here for the Covid-19 Symptoms Virtual Assistant</a>
</h4>


{% endblock %}
